body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c58d8be;
}

.container {
    background-color: #1c58d8be;
    padding: 190px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 30px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

button {
    justify-content: center;
    padding: 10px 20px;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#totalTip {
    margin-top: 20px;
    font-size: 18px;
}